@font-face {
  font-family: 'weathericons';
  src:  url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.ttf") format("truetype"), url("//cdnjs.cloudflare.com/ajax/libs/weather-icons/1.2/fonts/weathericons-regular-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.loader-wrapper {
	position: absolute;
  top: 48%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
	height: 40px;
	width: 110px;

  @media screen and (max-width:769px) {
    top: 30%;
  }

  @media screen and (max-width:415px) {
    left: 45%;
  }
}

.sun-wrapper {
	position: absolute;
  top: 48%;
  left: 50%;
  margin-top: -32px;
  margin-left: -32px;
	height: 40px;
	width: 110px;

  @media screen and (max-width: 769px) {
    top: 30%;
  }

  @media screen and (max-width:415px) {
    left: 45%;
  }
}

.loader-wrapper.animate {
	animation-name: slideInUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0;
	animation-play-state: running;
	animation-fill-mode: forwards;
}

.big-hill {
     height: 45px;
     width: 70px;
     border-radius: 70px 70px 0 0;
     -moz-border-radius: 70px 70px 0 0;
     -webkit-border-radius: 70px 70px 0 0;
     background: #3AAD4B;
     position: absolute;
     float: left;
     margin: 20px 0 0 35px;
     z-index: 1;
     display: block;
}

.small-hill {
     height: 35px;
     width: 60px;
     border-radius: 60px 60px 0 0;
     -moz-border-radius: 60px 60px 0 0;
     -webkit-border-radius: 60px 60px 0 0;
     background: #3AAD4B;
     position: relative;
     float: left;
     margin: 30px 0 0 0;
     z-index: 1;
     display: block;
}

.fade {
  background: -moz-linear-gradient(top,  rgba(57,181,74,1) 0%, rgba(57,181,74,1) 69%, rgba(57,181,74,0) 96%, rgba(57,181,74,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(57,181,74,1)), color-stop(69%,rgba(57,181,74,1)), color-stop(96%,rgba(57,181,74,0)), color-stop(100%,rgba(57,181,74,0)));
background: -webkit-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(57,181,74,1) 69%,rgba(57,181,74,0) 96%,rgba(57,181,74,0) 100%);
background: -o-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(57,181,74,1) 69%,rgba(57,181,74,0) 96%,rgba(57,181,74,0) 100%);
background: -ms-linear-gradient(top,  rgba(57,181,74,1) 0%,rgba(57,181,74,1) 69%,rgba(57,181,74,0) 96%,rgba(57,181,74,0) 100%);
background: linear-gradient(to bottom,  rgba(57,181,74,1) 0%,rgba(57,181,74,1) 69%,rgba(57,181,74,0) 96%,rgba(57,181,74,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39b54a', endColorstr='#0039b54a',GradientType=0 );

}

.thesun {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background: #f1e767;
  background: -moz-radial-gradient(center, ellipse cover,  #f1e767 0%, #ffd733 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f1e767), color-stop(100%,#ffd733));
  background: -webkit-radial-gradient(center, ellipse cover,  #f1e767 0%,#ffd733 100%);
  background: -o-radial-gradient(center, ellipse cover,  #f1e767 0%,#ffd733 100%);
  background: -ms-radial-gradient(center, ellipse cover,  #f1e767 0%,#ffd733 100%);
  background: radial-gradient(ellipse at center,  #f1e767 0%,#ffd733 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#ffd733',GradientType=1 );

  position: absolute;
  margin-left: 28px;
  z-index: -1;
  -webkit-animation: 1s sunrise, 1s bounceIn;
  animation: 1s sunrise, 1s bounceIn;
  animation-delaey: 3s;
}

.icon {
  z-index: -2;
  font-family: 'weathericons';
  position: relative;
  transform: translateY(136px);
}
.icon i {
  font-style: normal;
  position: absolute;
}

.sun {
  top: -151px;
  left: 19px;
  opacity: 0;
  animation-name: rotate, zoomIn;
  animation-duration: 1.5s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  transform: scale(1.6); /* CSS3 */
 -moz-transform: scale(1.6); /* Firefox */
 -webkit-transform: scale(1.6); /* Webkit */
 -o-transform: scale(1.6); /* Opera */
 -ms-transform: scale(1.6); /* IE 9 */
}

.sun:before {
  content: "\f00d";
  font-size: 36px;
  color: #FFD733;
}

.load-caption {
  color: #fff;
width: 300px;
display: inline-block;
position: absolute;
text-align: center;
top: 70px;
left: -93px;
font-weight: bold;

  @media screen and (max-width: 769px) {
    font-size: 20px;
  }

  @media screen and (max-width: 415px) {
    font-size: 15px;
  }
}

@-webkit-keyframes sunrise {
  0% {
    top: 50px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes sunrise {
  0% {
    top: 50px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    top: 0;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotatefade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes rotatefade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}
