<div class="container">
  <div class="wrapper">
    <div class="refreshbtn">
      <button type="button" class="button" ng-click="reloadRoute()">Refresh</button>
    </div>

    <div class="weatherConditions">
      <p class="date"> {{date | date:medium}}</p>

      <div class="weatherWrap" ng-show="main.weather">
        <p class="temp">
          <i class="wi wi-thermometer"></i>
          {{main.weather.data.main.temp | number:0}} &deg; C
        </p>

        <p>Looks like a {{main.weather.data.weather[0].description}}.</p>

        <p>
          <i class="fi-map"></i>
          {{main.weather.data.name}},
          {{main.weather.data.sys.country}}
        </p>

        <p>
          <i class="wi wi-windy"></i>
          {{main.weather.data.wind.speed}} km/h
        </p>
      </div>

      <div ng-show="main.errorStatus" class="alert">
        <p>{{main.error}}</p>
      </div>
    </div>
  </div>

  <div class="loader" ng-hide="main.weather || main.errorStatus">
    <div class="loader-wrapper animate">
      <div class="big-hill fade"></div>
      <div class="small-hill fade"></div>
      <div class="load-caption">Getting your weather details...</div>
    </div>

    <div class="sun-wrapper">
      <div class="thesun"></div>
      <div class="icon">
        <i class="sun"></i>
      </div>
    </div>
  </div>
</div>
